### Visual Studio Code
.vscode/*
**/.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
venv/
*/venv/*

#Coverage
.coverage

#Pytest
.pytest_cache

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
#Venv
.venv/

### Externals and cache
*.db
.web
assets/external/
__pycache__/
*.py[cod]